<!DOCTYPE HTML>
<html>
<head>
    <include file="Public/header"/>
</head>
<body>
    <!-- top start-->
	<include file="Public/top"/>
<!--    content-->

    <div class="main-container">
        
        <!-- left Menu  start -->
        <include file="Public/leftMenu"/>
        <!-- end -->

        <div class="main-content">

            <div class="container-fluid">

               <div class="row-fluid">
                    <div class="content" style="margin-left: 0;">
                        <div class="row-fluid">
                        	<!-- start -->
                            <div class="modal-title">
                                后台管理
                            </div>
                            <!--面包屑 导航栏 -->
                            <div class="navbar-default">
                                <ul class="breadcrumb">
                                    <li>
                                        <a href="#"><i class="iconfont">&#xe604;</i>首页</a>
                                    </li>
                                    <!-- <li>
                                        <span class="divider"></span>
                                        <a href="#">XXX</a>
                                    </li> -->
                                </ul>
                            </div>
							<!-- end -->

							<!-- list start -->
							<div class="container-fluid">
								<form action="" method="post" name="theForm" enctype="multipart/form-data" onsubmit="return validate()">
									<table class="table table-bordered table-hover">
										<tbody>
											<tr>
												<td >分类名称:</td>
												<td><input type="text" name="cat_name" maxlength="20" value="" size="27"> <font color="red">*</font></td>
											</tr>
											<tr>
												<td >上级分类:</td>
												<td>
													<select name="parent_id">
														<option value="0">顶级分类</option>
														<volist name="cats" id ="vo">
															<option value="{$vo.cat_id}">
																{$vo.level|str_repeat="&nbsp;&nbsp;",###}
																{$vo.cat_name}</option>
															</volist>
														</select>
													</td>
												</tr>

												<tr id="measure_unit">
													<td>数量单位:</td>
													<td><input type="text" name="unit" value="" size="12"></td>
												</tr>
												<tr>
													<td >排序:</td>
													<td><input type="text" name="sort_order" value="50" size="15"></td>
												</tr>

												<tr>
													<td >是否显示:</td>
													<td><input type="radio" name="is_show" value="1" checked="true"> 是<input type="radio" name="is_show" value="0"> 否  </td>
												</tr>
												<tr>
													<td >分类描述:</td>
													<td>
														<textarea name="cat_desc" rows="6" cols="48"></textarea>
													</td>
												</tr>
												<tr>
													<td></td>
													<td>
														<input type="submit" value=" 确定 ">
														<input type="reset" value=" 重置 ">
													</td>

												</tr>
											</tbody></table>

												
											
										</form>
									</div>
                            <!-- end -->
                        </div>
                    </div>
               </div>

            </div>

        </div>

    </div>



    <!-- footer start -->
    <include file="Public/footer"/>
	<!-- end -->

</body>
</html>



