<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<title></title>
	<link href="{$Think.const.ADMIN_PUBLIC}/styles/general.css" rel="stylesheet" type="text/css" />
	<link href="{$Think.const.ADMIN_PUBLIC}/styles/main.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="{$Think.const.ADMIN_PUBLIC}/js/utils.js"></script>
	<script type="text/javascript" src="{$Think.const.ADMIN_PUBLIC}/js/selectzone.js"></script>
	<script type="text/javascript" src="{$Think.const.ADMIN_PUBLIC}/js/colorselector.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/jquery-1.11.2.min.js"></script>
	<script type="text/javascript" src="{$Think.const.ADMIN_PUBLIC}/js/calendar.php?lang="></script>
</head>