<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <title>myshop</title>
    <link rel="stylesheet"  type="text/css" href="{$Think.const.ADMIN_PUBLIC}/styles/bootstrap.min.css">

    <link rel="stylesheet"  type="text/css" href="{$Think.const.ADMIN_PUBLIC}/styles/swiper.min.css">

    

    <link rel="stylesheet" href="{$Think.const.ADMIN_PUBLIC}/styles/main.css">
    
	<script src="{$Think.const.ADMIN_PUBLIC}/js/jquery-3.1.0.min.js"></script>

	<script src="{$Think.const.ADMIN_PUBLIC}/js/bootstrap.min.js"></script>

	<script src="{$Think.const.ADMIN_PUBLIC}/js/main.js"></script>

    <script src="{$Think.const.ADMIN_PUBLIC}/js/swiper.min.js"></script>


</head>