<div class="shop_bd_list_left clearfix">
			<!-- 左边商品分类 -->
			<div class="shop_bd_list_bk clearfix">
				<div class="title">商品分类</div>
				<volist name="leftMenu" id="vo">
						<if condition="$vo.level eq 1">
							<div class="contents clearfix">
								<dl class="shop_bd_list_type_links clearfix">
									<dt><strong>{$vo.cat_name}</strong></dt>
									<volist name ="leftMenu" id="vo1">	
										<if condition="$vo1.level eq 2 AND $vo.cat_id eq $vo1.parent_id  ">
											<dd><span><a href="__MODULE__/Category/index/id/{$vo1.cat_id}">{$vo1.cat_name}</a></span></dd>
										</if>
									</volist>
								</dl>
							</div>
						</if>	
				</volist>
			</div>
			<!-- 左边商品分类 End -->

			<!-- 热卖推荐商品 -->
			<div class="shop_bd_list_bk clearfix">
				<div class="title">热卖推荐商品</div>
				<div class="contents clearfix">
					<ul class="clearfix">
						<volist name="hotGoods" id="hotGood">
						<li class="clearfix">
							<div class="goods_name"><a href="">{$hotGood.goods_name}|{$hotGood.goods_sn}|原价{$hotGood.shop_price}元</a></div>
							<div class="goods_pic"><span class="goods_price">{$hotGood.promote_price} </span><a href=""><img src="__ROOT__/{$hotGood.goods_img}" /></a></div>
							<div class="goods_xiaoliang">
								<span class="goods_xiaoliang_link"><a href="__MODULE__/Goods/index/id/{hotGood.goods_id}">去看看</a></span>
							<!-- 	<span class="goods_xiaoliang_nums">已销售<strong>99</strong>笔</span> -->
							</div>
						</li>
						</volist>
						

					</ul>
				</div>
			</div>
			<!-- 热卖推荐商品 -->
			<div class="clear"></div>

			

		</div>
		