<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>编辑收货地址</title>
	<link rel="stylesheet" href="__PUBLIC__/css/base.css" type="text/css" />
	<link rel="stylesheet" href="__PUBLIC__/css/shop_common.css" type="text/css" />
	<link rel="stylesheet" href="__PUBLIC__/css/shop_header.css" type="text/css" />
	<link rel="stylesheet" href="__PUBLIC__/css/shop_manager.css" type="text/css" />
	<link rel="stylesheet" href="__PUBLIC__/css/shop_form.css" type="text/css" />
    <script type="text/javascript" src="__PUBLIC__/js/jquery.js" ></script>
    <script type="text/javascript" src="__PUBLIC__/js/topNav.js" ></script>
    

</head>
	<include file="Public/header"/>
	<div class="clear"></div>
	<!-- 面包屑 注意首页没有 -->
	<div class="shop_hd_breadcrumb">
		<strong>当前位置：</strong>
		<span>
			<a href="">首页</a>&nbsp;›&nbsp;
			<a href="">我的商城</a>&nbsp;›&nbsp;
			<a href="">编辑收货地址</a>
		</span>
	</div>
	<div class="clear"></div>
	<!-- 面包屑 End -->

	<!-- Header End -->	

	<!-- 我的个人中心 -->
	<div class="shop_member_bd clearfix">
		<include file="Public/myShopLeft"/>
		
		<!-- 右边购物列表 -->
		<div class="shop_member_bd_right clearfix">
			
			<div class="shop_meber_bd_good_lists clearfix">
				<div class="title"><h3>编辑收货地址</h3></div>
				<div class="clear"></div>
				<dic class="shop_home_form">
					<form athion="" name="" class="shop_form" method="post">
					<input type="hidden" name="hidden" value="1"/>
						<ul>
								<li><label for=""><span>*</span>收货人姓名：</label><input type="text" class="name" name="consignee" id="consignee" value="{$address[0].consignee}"/></li>
								<li><label for=""><span>*</span>所在地址：</label>
									<select id="province" name="province">
										<option value="-1" selected>请选择</option>
										<volist name="province" id="pro">
											<option value="{$pro.region_id}">{$pro.region_name}</option>
										</volist>
									</select>省/市
									<select id="city" name="city">
										<option value="-1">请选择</option>
									</select>市
									<select id="district" name="district">
										<option value="-1">请选择</option>
									</select>县/区
								</li>
								<li><label for=""><span>*</span>详细地址：</label><input type="text" class="xiangxi" name="street" id ="street" value="{$address[0].street}" /></li>
								<li><label for=""><span></span>邮政编码：</label><input type="text" class="youbian" name="zipcode" value="{$address[0].zipcode}"/></li>
								<li><label for=""><span></span>电话：</label><input type="text" class="dianhua" name="telephone"  value="{$address[0].telephone}" /></li>
								<li><label for=""><span>*</span>手机号：</label><input type="text" class="shouji" name="mobile" id="mobile" value="{$address[0].mobile}" /></li>
								<li><label for="">&nbsp;</label><input type="submit" id="submit" value="增加收货地址" /></li>
							</ul>
					</form>
				</div>
			</div>
		</div>
		<!-- 右边购物列表 End -->

	</div>
	<!-- 我的个人中心 End -->

	<include file="Public/footer"/>
</body>
<script type="text/javascript">
	
	
	$('#province').change(function(){
				var province = this.value;
				$.ajax({
					type     : 'GET',
					url      : '__MODULE__/Address/choose',
					data     : "parent_id="+province,
					dataType : 'html',
					success  : function (msg) {

						$('#city').html(msg);
						
					} ,
					error    : function() {
						alert("出错1");
					}

				})
			});
			$('#city').change(function(){
				var city = this.value;
				
				$.ajax({
					type     :  'get',
					url      :   '__MODULE__/Address/choose',
					data     :  "parent_id="+city,
					dataType :  'html',
					success  : function (msg) {

						$('#district').html(msg);
						
					},
					error    : function () {
						alert("Ajax出错2");
					}

				})
			});
	$("#submit").click(function(){
			
			if (document.getElementById('consignee').value == "" ) {
				alert("请填写收货人姓名");
				return false;
			}
			if (document.getElementById('mobile').value == "" ) {
				alert("请填写收货人联系方式	");
				return false;
			}

			if (document.getElementById('street').value == "") {
				alert("请填写地址的详细信息");
				return  false;
			}

			if (document.getElementById('province').value =='-1' || document.getElementById('city').value =='-1'
				|| document.getElementById('district').value =='-1') {
				alert("请先选择地区");
				return false;
			} else {
				return  true;
			}

			

		});

</script>

</html>