/*inconfont */
@font-face {font-family: 'iconfont';
    src: url('../iconfont/iconfont.eot'); /* IE9*/
    src: url('../iconfont/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../iconfont/iconfont.woff') format('woff'), /* chrome、firefox */
    url('../iconfont/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../iconfont/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont{
    font-family:"iconfont" !important;
    font-size:18px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

/*header*/
body {
    padding-top: 60px;
    background-color: #434343;
}

.head {
    background-color: #fff;
    border: 0;
}

/*logo*/
.navbar-inverse .navbar-brand {
    color: #43341b;
    font-weight: bold;
    font-size: 20px;
    padding: 15px 15px 15px 25px;
}
/*上导航*/
.navbar-inverse .navbar-toggle {
    border-color: #434343;
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:visited {
    background-color: #fff;
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #bdc0ba;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #434343;
}
.navbar-inverse .navbar-nav>li>a {
    color: #43341b;
}


.main-container {
    padding: 0;
    margin: 0;
    min-height: 760px;
}

/*左导航*/
.container-sidebar {
    width: 15%;
    min-height: 760px;
    float: left;
}

.container-sidebar .menu {
    font-size: 20px;
    padding: 4px 0 4px 10px;
    color: #fff;
}

#type {
    color: #fff;
    float: right;
    width: 10%;
}

.panel-group{
    background-color: #bdc0ba;//整个panel

}

.panel-default {
    border: 0;
}

.panel-default .panel-heading {
    background-color: #bdc0ba; //整块菜单
}

.panel-title {
    font-size: 18px;
    padding: 5px 0;
    color: #fff;
}

.panel-title a {
    color: #fff;
}

.panel-title a:link {
    color: #fff;
    text-decoration: none;
}

.panel-title a:visited {
    color: #fff;
    text-decoration: none;
}

.panel-title a:hover {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.panel-default>.panel-heading+.panel-collapse>.panel-body {
    background-color: #787d7b; //展开的方块
    border: 0;
}

.panel-body ul {
    padding: 0;
    margin: 0;
}

.panel-body ul li {
    border: 0;
    padding: 5% 0 3% 8%;
}

.list-group-item {
    background-color: rgb(248,247,242); //小方块
}

.list-group a {
    color: rgb(189,189,189);
}

.list-group a:link,a:visited {
    color: rgb(189,189,189);
    text-decoration: none;
}


.list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.list-group-item:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: 5px;
}

/*内容*/
.main-content {
    background-color: #fff;
    margin-left: 15%;
    margin-top: 0;
}

.modal-title {
    margin: 1%;
    font-weight: bold;
    font-size: 32px;
}

.breadcrumb {
    background-color: #BDC0BA;
    opacity: 0.8;
}

.breadcrumb li a {
    color: #fff;
}

.footer {
    text-align: center;
    color: #fcfaf2;
    padding-top: 20px;
}