<html>
	
</html>
<script type="text/javascript">
//jq方法获取id为sw_type的值,然后使用ajax动态获取
	$("#sw_type").change(function(){
    var type_id = this.value;
		$.ajax({
			type : "GET",//传输方式
			url : "__MODULE__/Attribute/getAttrs",//路径，此控制器下的模型attribute的getAttrs方法方法
			data : "type_id="+type_id,//传输的数据
			dataType : 'html',//传输类型
			//成功后加载id为tbody-goodsAttr的框架中
			success : function(msg){
        		$("#tbody-goodsAttr").html(msg); 
			},
			 error : function(){alert('出错');}
			})
     
   
  });
    
</script>