<!DOCTYPE HTML>
<html>
<head>
    <include file="Public/header"/>
</head>
<body>
    <!-- top start-->
  <include file="Public/top"/>
<!--    content-->

    <div class="main-container">
        
        <!-- left Menu  start -->
        <include file="Public/leftMenu"/>
        <!-- end -->

        <div class="main-content">

            <div class="container-fluid">

               <div class="row-fluid">
                    <div class="content" style="margin-left: 0;">
                        <div class="row-fluid">
                          <!-- start -->
                            <div class="modal-title">
                                后台管理
                            </div>
                            <!--面包屑 导航栏 -->
                            <div class="navbar-default">
                                <ul class="breadcrumb">
                                    <li>
                                        <a href="#"><i class="iconfont">&#xe604;</i>首页</a>
                                    </li>
                                     <li>
                                        <span class="divider"></span>
                                        <a href="#">新建商品类型</a>
                                    </li> 
                                </ul>
                            </div>
                          <!-- end -->
                      
                          <!-- form start -->

                          <form action="" method="post" name="theForm">
                            <table align="center">

                              <tbody>
                          
                                <tr>
                                  <td>商品类型名称:</td>
                                  <td><input type="text" name="type_name" value="" size="40"></td> 
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><input type="submit" value=" 确定 " class="button">
                                        <input type="reset"  value=" 重置 " class="button">
                                    </td>
                                </tr>
                              </tbody>
                            </table>  



                           
                          </form>                           


                          <!-- end -->
                        </div>
                    </div>
               </div>

            </div>

        </div>

    </div>



    <!-- footer start -->
    <include file="Public/footer"/>
  <!-- end -->

</body>
</html>

