<!DOCTYPE HTML>
<html>
<head>
	<include file="Public/header"/>
</head>
<body>
	<!-- top start-->
	<include file="Public/top"/>
	<!--    content-->

	<div class="main-container">

		<!-- left Menu  start -->
		<include file="Public/leftMenu"/>
		<!-- end -->

		<div class="main-content">

			<div class="container-fluid">

				<div class="row-fluid">
					<div class="content" style="margin-left: 0;">
						<div class="row-fluid">
							<!-- start -->
							<div class="modal-title">
								后台管理
							</div>
							<!--面包屑 导航栏 -->
							<div class="navbar-default">
								<ul class="breadcrumb">
									<li>
										<a href="__MODULE__/Index/index"><i class="iconfont">&#xe604;</i>首页</a>
									</li>
									<li>
										<span class="divider"></span>
										<a href="#">商品类型</a>
									</li> 
									<li style="float: right" > <span class="divider"></span>
										<a href="__CONTROLLER__/add">新建商品类型</a></li>
									</ul>

								</div>
								<!-- end -->

								<!-- list start -->
								<div class="block" style="border: 1px solid #d3d3d3;">
									<div class="block-content collapse in">
										<div class="search" style="margin: 1% 1%;">

										</div>
										<div class="container-fluid">
											<table class="table table-bordered table-hover">
												<thead>
													<th>商品类型编号</th>
													<th>商品类型名称</th>
													<th>操作</th>
												</thead>
												<tbody>
													<volist name="types" id="vo">
														<tr>
															<td>{$vo.type_id}</td>
															<td>{$vo.type_name}</td> 
															<td>
																<a href="__MODULE__/Attribute/index/id/{$vo.type_id}" title="属性列表">属性列表</a> |
																<a href="__CONTROLLER__/edit/id/{$vo.type_id}" title="编辑">编辑</a> |
																<a href="__CONTROLLER__/delete/id/{$vo.type_id}" onclick="javascript:return confirm('删除商品类型将会清除该类型下的所有属性。\n您确定要删除选定的商品类型吗？')" title="移除">移除</a>

															</td>
														</tr>
													</volist>

												</tbody>
											</table>
										</div>
										

									</div>
								</div>
								<!-- end -->
							</div>
						</div>
					</div>

				</div>

			</div>

		</div>



		<!-- footer start -->
		<include file="Public/footer"/>
		<!-- end -->

	</body>
	</html>

