<!DOCTYPE HTML>
<html>
<head>
    <include file="Public/header"/>
</head>
<body>
    <!-- top start-->
	<include file="Public/top"/>
<!--    content-->

    <div class="main-container">
        
        <!-- left Menu  start -->
        <include file="Public/leftMenu"/>
        <!-- end -->

        <div class="main-content">

            <div class="container-fluid">

               <div class="row-fluid">
                    <div class="content" style="margin-left: 0;">
                        <div class="row-fluid">
                        	<!-- start -->
                            <div class="modal-title">
                                后台管理
                            </div>
                            <!--面包屑 导航栏 -->
                            <div class="navbar-default">
                                <ul class="breadcrumb">
                                    <li>
                                        <a href="#"><i class="iconfont">&#xe604;</i>首页</a>
                                    </li>
                                     <li>
                                        <span class="divider"></span>
                                        <if condition="$user eq 1"> 用户列表<else />管理员列表</if>
                                    </li> 
                                    <li style="float: right">
                                    	<if condition="$user eq 1"><a href="__CONTROLLER__/addUser"> 添加用户<else /><a href="__CONTROLLER__/addAdmin">添加管理员</if></a>
                                    </li>
                                </ul>
                            </div>
								  <!-- start goods list -->
							<!-- <include file="Public/search"/> -->
							<div class="container-fluid">
								<table class="table table-bordered table-hover">
									<tbody>
										<tr>
											<th>编号</th>
											<th>用户名</th>
											<th>邮箱</th>
											<th>操作</th>
										</tr>
										<tr></tr>
										<volist name="admins" id="vo">
										<tr>
											<td align="center"><if condition="$user eq 1"> {$vo.user_id}<else />{$vo.admin_id}</if></td>
											<td class="first-cell" align="center"><span><if condition="$user eq 1"> {$vo.user_name}<else />{$vo.admin_name}</if></span></td>
											<td align="center"><span >{$vo.email}</span></td>
											<td align="center">
												<a href="
												<if condition="$user neq 1">	
												__CONTROLLER__/editAdmin/admin_id/{$vo.admin_id}<else />
												__CONTROLLER__/editUser/user_id/{$vo.user_id}
												</if>
												" title="编辑"><img src="{$Think.const.ADMIN_PUBLIC}/images/icon_edit.gif" width="16" height="16" border="0"></a>
												<a href="__CONTROLLER__/delete/admin_id/{$vo.admin_id}" onclick="javascript:return confirm('你确认要删除吗？')" title="删除"><img src="{$Think.const.ADMIN_PUBLIC}/images/icon_trash.gif" width="16" height="16" border="0"></a> 
												      
											</td>
											
										</tr>
										</volist>
										
								</tbody>
							</table>
							<!-- end -->
                        </div>
                    </div>
               </div>

            </div>

        </div>

    </div>



    <!-- footer start -->
    <include file="Public/footer"/>
	<!-- end -->

</body>
<script type="text/javascript">
	{$error}
</script>
</html>

